{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<h1>Вы зарегины {{ user.username }}</h1>
    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
